<!DOCTYPE html>
<html>
<head>
  <title>To Do List &ndash; Dr. Bill</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'modals/sign_in' %>
<%= render 'modals/new_list' %>
<%= render 'modals/rename_list' %>
<%= render 'modals/destroy_list' %>
<%= render 'modals/due_date' %>

<%= render 'partials_html/header' %>

<div id="main">
  <% if current_user %>
    <%= render 'partials_html/list_container', lists: current_user.lists %>
  <% end %>
</div>

<script>
  registerListContainer();
</script>

</body>
</html>
