<!DOCTYPE html>
<html>
<head>
  <title>To Do List &ndash; Dr. Bill</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'partials/sign_in_modal' %>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#signInModal">Modal</button>

<div class='container-fluid list-container'>
  <% Item.all.each do |item| %>
    <%= render 'partials/item', item: item %>
  <% end %>
</div>

</body>
</html>
